$nav-hover-color: #f6961b;
$border-btn-color: #f6961b;
$project-first-bg: #f6961b;
$top-border-color2: #f6961b;
$first-card-icon: #f6961b;
$pagination-border: #f6961b;
$aceppt-icon-color: #f6961b;
$share-icon-bg: #f6961b;
$text-data-color: #f6961b;

$btn-bg: #16d428;
$slider-dots-bg: #16d428;
$top-border-color1: #16d428;
$mobile-hover: #16d428;
$location-icon-color: #16d428;

$header-icon-bg: #03b6e7;
$nav-block-bg: #03b6e7;
$card-icon-color: #03b6e7;
$slider-about-hover: #03b6e7;
$btn-hover: #03b6e7;
$links-hover: #03b6e7;
$error-color-title: #03b6e7;
$consultation-bg: #03b6e7;
$masonry-card-bg: #03b6e7;


$light-text: #ffffff;
$dark-title: #343a3b;
$dark-text: #838b8c;
$footer-text-color: darken(#fff, 50%);

$boost-bg: #565d5d;
$features-bg: #e7eff1;
$testimonials-bg: #03b6e7;
$services-bg: #fffaf3;
$our-blog-bg: #e7eff1;
$footer-bg: #262829;
$comments-section-bg: #fbf5ef;
$message-section-bg: #e7eff1;
$comp-help-bg: #e7eff1;
$write-us-bg: #e7eff1;
$blog-card-bg: #fff;
$price-basic-bg: #ffac55;
$price-silver-bg: #03b6e7;
$price-gold-bg: #55bd77;
$asked-bg: #e7eff1;

$font-title-nav: 'Montserrat', sans-serif;
$font-btn: 'Montserrat', sans-serif;
$font-text: 'Domine', serif;

$width-content: 1140px;
$comments-message-width: 500px;

$header-nav-size: .875rem;
$welcome-title-sm: 1rem;
$welcome-title-bg: 3rem;
$section-title-size: 2rem;
$card-title-size: 1.0625rem;
$text-block-size: .9375rem;
$boost-text-size: 1.25rem;
$blog-date: 0.9375rem;
$quick-contact-size: 1.125rem;
$soc-media-size: .8125rem;
$welcome-block-size: 1.25rem;
$small-title-size: .875rem;
$error-size-title: 20vmax;
$testimonials-name: 1.25rem;
$testimonials-post: .8125rem;

$icons-welcome-list: banking, technology, business, education, banking, technology, business, education, banking, technology, business, education;
$w: 0;

$icons-card-list: creative, security, business, support;
$j: 0;

$icons-services-list: money, boost, business;
$s: 0;

$icons-contact: career, call, email;
$c: 0;

$google-soc: #e4463b;
$linkedin-soc: #1883bb;
$instagram-soc: #d4c5a8;
$twitter-soc: #00b5da;
$facebook-soc: #385da5;


$soc-color-list: $google-soc, $linkedin-soc, $instagram-soc, $twitter-soc, $facebook-soc;
$soc: 0;