@media (max-width: 1170px){
  .error-block{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .error-card{
    margin-right: 0;
  }
  .title-error{
    margin-right: 0;
  }
}