.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
}

.flex-column-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}