.top-header-interval{
  padding: 30px 0;
}

.section-interval{
  padding: 90px 0;
}

.features-interval{
  padding-top: 90px;
}

.testimonials-interval{
  padding-bottom: 45px;
}

.bottom-footer-interval{
  padding-bottom: 30px;
}